/*HEADER*/
.navbar-brand img{
    width: 250px;
    margin-left: 50px;
}

#navbarNav{
    justify-content: end;
    margin-right: 50px;
}

.navbar{
    background-color: #EFEAE1;
}

.nav-link{
    padding: 25px !important;
}

@media screen and (max-width:300px){
    .navbar-brand img{
        width: 200px;
        margin: 25px;
    }
}

/*MAIN*/
/*----Galería----*/
.container figure{
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 black;
    cursor: pointer;
}

.container figure img{
    transition: all 1000ms ease-out;
}

.container figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container figure a:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.container figure a:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}


.container figure a:hover > img{
    transform: scale(1.3);
}

.container figure .capa h3{
    color: white;
    font-weight: 400px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.container figure .capa p{
    color: white;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin-bottom: 50px;
}

@media screen and (max-width:800px){
    .contenedor figure .capa h3{
        font-size: 30px;
    }
    .contenedor figure .capa p{
        font-size: 20px;
    }
}

@media screen and (max-width:300px){
    .contenedor figure .capa h3{
        font-size: 20px;
    }
    .contenedor figure .capa p{
        font-size: 15px;
    }
}


/*----Contacto----*/
.bg-contacto{
    background-image: url(https://images.unsplash.com/photo-1529485726363-95c8d62f656f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
    background-repeat: no-repeat, repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 50px;
    }

@media screen and (max-width:800px){
    .screen{
        margin: 0px !important;
    }
}

/*----FAQ----*/
.faq-tamaño{
    max-width: 800px;
}

@media screen and (max-width:800px){
    .faq-tamaño{
        padding: 0px;
        padding-bottom: 15px;
    }
    .p-5{
        padding: 0 !important;
    }
}

/*----Colores----*/
.green{
    color: #3D806D !important;
}

.white-opaque{
    color: #EFEAE1 !important;
}

.bg-green{
    background-color: #3D806D !important;
}

.bg-white-opaque{
    background-color: rgba(239,234,225,0.3) !important;
}

.btn-primary{
    background-color: #162f28;
    border-color: #3D806D;
}

.btn-primary:hover{
    background-color: #3D806D;
    border-color: #162f28;
}

/*FOOTER*/
.pie-pagina{
    width: 100%;
    background-color: #162f28;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    background-color: #3D806D;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: pink
}

.pie-pagina .grupo-2{
    background-color: #3D806D;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}