/*HEADER*/
.navbar-brand img{
    width: 250px;
    margin-left: 50px;
}

#navbarNav{
    justify-content: end;
    margin-right: 50px;
}

.navbar{
    background-color: #EFEAE1;
}

.nav-link{
    padding: 25px !important;
}

/*MAIN*/
/*----Galería----*/
#galeria img{
    width: 100%;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 black;
}

#galeria .col-lg-3{
    margin: 0 !important;
    padding: 25px;
}

#galeria img:hover{
    border: 5px solid white;
}

/*----Contacto----*/
.bg-contacto{
    background-image: url(https://images.unsplash.com/photo-1529485726363-95c8d62f656f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
    background-repeat: no-repeat, repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 50px;
    }

/*----FAQ----*/
.faq-tamaño{
    max-width: 800px;
}

/*----Colores----*/
.green{
    color: #3D806D !important;
}

.white-opaque{
    color: #EFEAE1 !important;
}

.bg-green{
    background-color: #3D806D !important;
}

.bg-white-opaque{
    background-color: #EFEAE1 !important;
}

.btn-primary{
    background-color: #162f28;
    border-color: #3D806D;
}

.btn-primary:hover{
    background-color: #3D806D;
    border-color: #162f28;
}

/*FOOTER*/
.pie-pagina{
    width: 100%;
    background-color: #162f28;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    background-color: #3D806D;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: pink
}

.pie-pagina .grupo-2{
    background-color: #3D806D;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}